/* =================
    Base Styles
================= */

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

/* ================
    Typography
================ */

h1,
h2,
a {
  color: #ffffff;
}

h1 {
  font-weight: 800;
  font-size: clamp(1.75rem, 7.78vw, 3rem);
}

h2 {
  font-weight: 500;
  font-size: clamp(1.5rem, 3.273vw, 2.25rem);
}

p {
  font-size: clamp(0.75rem, 2.545vw, 1rem);
  line-height: 1.6;
}

a {
  font-size: clamp(0.75rem, 2.545vw, 1rem);
  font-weight: 700;
  text-decoration: none;
}

/* ============
    Layout
============ */

/* === Body Layout === */
body {
  display: flex;
  flex-direction: column;
}

/* === Main Layout === */
main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* === Header Layout === */
header {
  min-height: 208px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/images/background.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* === Search Bar Layout === */
.search-bar {
  position: absolute;
  top: -21.485px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;
}

/* === Explore Section Layout === */
.explore {
  background: #121212;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* === Movies Container Layout === */
.movies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.546em;
}

/* ================
    Components
================ */

/* === Search Bar === */
.search-bar input[type="text"] {
  background: #2e2e2f url(/images/searchIcon.svg) no-repeat 0.75em center;
  border: none;
  border-radius: 6px 0 0 6px;
  font-size: clamp(0.875rem, 2.545vw, 1rem);
  font-weight: 500;
  padding: 0.785em 0 0.785em 2.6em;
  width: 60%;
}

.search-bar button {
  border: none;
  border-radius: 0 6px 6px 0;
  background: #4b4b4b;
  color: #fff;
  padding: 0 1em;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

/* === Explore Message === */
.explore-message {
  color: #2e2e2f;
  font-weight: 700;
  font-size: clamp(1.125rem, 3.273vw, 2rem);
}

/* ===========
    Pages
=========== */

/* === Watchlist Page === */
.watchlist {
  background: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.message {
  color: #787878;
  font-size: clamp(1rem, 3.273vw, 2rem);
  font-weight: 700;
}

.add-movies {
  font-size: clamp(0.875rem, 2.545vw, 1.25rem);
  background: url(/images/addIcon.svg) no-repeat left center;
  background-size: contain;
  padding-left: 2em;
}

/* ===================
    Media Queries
=================== */

@media (min-width: 629px) {
  .search-bar {
    top: -24.545px;
  }
}
